* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background: #303030;
	width: 100%;
	height: 100%;
}


#programArea {
	position: absolute;
	left: 50%;
	top: 50%;
}

#programCanvas {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

#controls {
	position: absolute;
	bottom: 0;
}

.field {
	border: 1px solid black;
	margin-right: 5px;
	float: left;
	background-color: #abcdef;
	padding: 5px;
	opacity: 0.9;
}

.field #runAlgorithm {
	height: 16px;
	border: 1px solid black;
	background-color: #808050;
	float: left;
	margin: 2px 2px 0 0;
}

.field input, select{
	font-size: 10px;
}
